<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>karim aouaouda</title>
</head>
<body>
    <div class="app w-screen px-2 flex flex-col justify-center items-center h-screen bg-slate-200">
        
        <div class="w-full p-2">
            <h6 class="font-extrabold text-slate-400 drop-shadow-md text-xl uppercase tracking-wide ">
                chose method to pay with :
            </h6>
        </div>
        <div x-bind:data-selected="selected || 'none'" x-data="{isSelected : false, selected : null}" class="w-full bg-sky-300 p-2 rounded-lg">
            <div class="container flex flex-wrap justify-start">
                <div x-bind:class="{'bg-sky-200' : selected == null, 'bg-white' : selected == method, 'bg-gray-500' : (selected && selected != method), 'hover:bg-sky-100' : !selected }" 
                x-on:click="selected = selected? (selected == method ? null : method) : method ;iAmSelected = !iAmSelected;" 
                    x-init="$watch('selected', value => IAmSelected = value == null ? false : (selected == method ? true : false) )"
                
                x-data="{method : 'paypal' , iAmSelected : false}" 
                class="option m-2 cursor-pointer duration-150 ease-in-out hover:bg-sky-100 w-40 flex p-4 justify-center items-center p-2  rounded-lg h-16">
                    <img class="w-full h-full" src="./../../../assets/media/paypal.svg" alt="">
                </div>
                <div x-bind:class="{'bg-sky-200' : selected == null, 'bg-white' : selected == method, 'bg-gray-500' : (selected && selected != method), 'hover:bg-sky-100' : !selected }"
                    x-on:click="selected = selected? (selected == method ? null : method) : method ;iAmSelected = !iAmSelected;"
                    x-init="$watch('selected', value => IAmSelected = value == null ? false : (selected == method ? true : false) )"
                    
                    x-data="{method : 'masterpass' , iAmSelected : false}"
                    class="option m-2 cursor-pointer duration-150 ease-in-out hover:bg-sky-100 w-40 flex p-4 justify-center items-center p-2  rounded-lg h-16">
                    <img class="w-full h-full" src="./../../../assets/media/masterpass.svg" alt="">
                </div>
                <div x-bind:class="{'bg-sky-200' : selected == null, 'bg-white' : selected == method, 'bg-gray-500' : (selected && selected != method), 'hover:bg-sky-100' : !selected }"
                    x-on:click="selected = selected? (selected == method ? null : method) : method ;iAmSelected = !iAmSelected;"
                    x-init="$watch('selected', value => IAmSelected = value == null ? false : (selected == method ? true : false) )"
                    
                    x-data="{method : 'visa' , iAmSelected : false}"
                    class="option m-2 cursor-pointer duration-150 ease-in-out hover:bg-sky-100 w-40 flex p-4 justify-center items-center p-2  rounded-lg h-16">
                    <img class="w-full h-full" src="./../../../assets/media/visa-withoutcard.svg" alt="">
                </div>
                <div x-bind:class="{'bg-sky-200' : selected == null,
                                    'bg-white' : selected == method,
                                    'bg-gray-500' : (selected && selected != method),
                                    'hover:bg-sky-100' : !selected,
                                    }"
                    x-init="$watch('selected', value => IAmSelected = value == null ? false : (selected == method ? true : false) )"
                    x-on:click="selected = selected != null? (selected == method ? null : method) : method ;
                                iAmSelected = !iAmSelected;"
                    x-data="{method : 'wise',
                             iAmSelected : false}"
                    class="option m-2 cursor-pointer duration-150 ease-in-out hover:bg-sky-100 w-40 flex p-4 justify-center items-center p-2  rounded-lg h-16">
                    <img class="w-full h-full" src="./../../../assets/media/wise.svg" alt="">
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</body>
</html>